* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    ;
}



/*-------------NAV BAR STYLING-------------*/

nav {
    background: rgb(34, 34, 34);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 900;
}

label.logo {
    color: rgb(171, 171, 171);
    font-size: 20px;
    line-height: 80px;
    padding: 0 60px;
    font-weight: bold;
}

img.img-logo {
    position: absolute;
    width: 40px;
    line-height: 80px;
    margin: 20px 15px;
}

nav ul {
    float: right;
    margin-right: 20px;
    z-index: 2;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

    nav ul li a, nav ul li .hyperlink {
        color: rgb(136, 136, 136);
        font-size: 12px;
        text-decoration: none;
        padding: 7px 13px;
        border-radius: 5px;
        text-transform: uppercase;
    }

        nav ul li a.active, 
        nav ul li .hyperlink.active,
        nav ul li a:hover, 
        nav ul li .hyperlink:hover {
            color: white;
            text-decoration: none;
            background: rgb(73, 73, 73);
            transition: 0.5s;
        }

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    nav ul li a, nav ul li .hyperlink {
        font-size: 12px;
    }
}

@media (max-width: 850px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgb(56, 56, 56);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }
        nav ul li a, nav ul li .hyperlink {
            font-size: 15px;
            text-decoration: none;
        }
            nav ul li a:hover,
            nav ul li a.active, 
            nav ul li .hyperlink.active,
            nav ul li .hyperlink:hover {
                background: none;
                text-decoration: none;
                color: rgb(231, 231, 231);
            }
    #check:checked~ul {
        left: 0;
    }
}

@media (max-width: 750px) {
    nav{
        position: relative;
    }

    label.logo {
        font-size: 15px;
    }

    img.img-logo {
        position: absolute;
        width: 30px;
    }
}


@media (max-width: 650px) {
    nav {
        position: relative;
    }

    label.logo {
        font-size: 12px;
    }

    img.img-logo {
        position: absolute;
        width: 15px;
        margin: 32px 40px;
    }
}

    /* -------------//NAV BAR STYLING-------------*/