/*-------------SIDEBAR STYLING-------------*/

.sidebar {
    position: absolute;
    width: 200px;
    top: 80px;
    height: 100vmax;
    background: rgb(34, 34, 34);
    z-index: 1;
}

.sidebar h1 {
    display: block;
    padding: 15px 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    /* letter-spacing: 2px; */
}

.sidebar a,
.sidebar .hyperlink {
    display: block;
    padding: 10px 30px;
    color: rgb(136, 136, 136);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* letter-spacing: 2px; */
}

.sidebar a:hover,
.sidebar .hyperlink:hover {
    color: rgb(255, 255, 255);
    transition: 0.5s;
    text-decoration: none;
}

.sidebar a.active,
.sidebar .hyperlink.active {
    color: white;
    background: rgb(73, 73, 73);
}